*{
    margin: 0;
    box-sizing: border-box;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #01071a;

    .mainbox{
        display: flex;
        height: 700px;
        width: 850px;
        border-radius: 2px;
        background: rgb(255, 255, 255);
        .header{
            display: flex;
            height: 32px;
            width: 850px;
            background-color: #01071a;
            z-index: 100;
        }

        .tradingview-widget-container{
            position: absolute;
            z-index: 2;
        }
    }
}

@media (max-width:600px){
    .main{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #ffffff;

        .mainbox{
            display: flex;
            height: 700px;
            width: 850px;
            border-radius: 2px;
            background: rgb(255, 255, 255);
            .header{
                display: flex;
                height: 32px;
                width: 850px;
                background-color: #01071a;
                z-index: 100;
            }

            .tradingview-widget-container{
                position: absolute;
                z-index: 2;
            }
        }
    }



}