html{
    background: black;
    filter: invert(1);
}

body{
    margin: 0;
    box-sizing: border-box;

}

.container{
    display: grid;
    position: relative;
    height: 100vh;
    overflow-x: hidden;
    grid-template-rows: 13vh auto;
    grid-template-areas:
    "top"
    "bottom"
    ;
}
.top {
    background: #06332e;
    filter: invert(1);

}
.bottom {
    background: rgb(218, 219, 219);
}


.maincontainer{
    display: grid;
    position: absolute;
    margin: 5vh 5vw;
    width: 90vw;
    height: 90vh;
    background: rgb(255, 255, 255);

    grid-template-columns: 300px auto ;
    grid-template-rows: 8vh 6vh auto 7vh;
    grid-template-areas:
    "footer chatfooter"
    "subfooter chat"
    "contact chat"
    "contact typehere"
    ;
}


/* Footer */
.footer{
    grid-area: footer;
    display: flex;
    background: rgb(230, 230, 230);
    border-right: 1px solid rgba(218, 218, 218, 0.767);



}
.user {
    height: 5vh;
    margin-left: 20px;
    margin-top: 15px;
}
.footerimgs{
    grid-area: footerimgs;
    display: flex;
    justify-content: space-between;
    width: 17vw;
    height: 2vh;
    margin-left: 130px;
    margin-right: 14px;
    margin-top: 3vh;
    opacity:70%;
}


.chatfooter{
    grid-area: chatfooter;
    display: grid;
    flex-direction: column;
    background: rgb(230, 230, 230);
    border-bottom: 1px solid rgb(218, 218, 218);


    grid-template-columns: auto 100px;
    grid-template-areas:
    "chatfooter chatfooterright"
    ;

}
.maincontainer > .chatfooter > img {
    grid-area: chatfooter;
    margin-top: 1.2vh;
    margin-left: 1.5vw;
    width: 5.5vh;
    height: 5.5vh;
    border-radius: 50px;
    filter: invert(1);


}
.maincontainer > .chatfooter > h3 {
    grid-area: chatfooter;
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
    margin-left: 80px;
    margin-top: 2vh;

}
.maincontainer > .chatfooter > h4 {
    grid-area: chatfooter;
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 13px;
    margin-left: 80px;
    margin-top: 5vh;
}

.chatfooterright{
    grid-area: chatfooterright;
    display: flex;
    height: 8vh;
}
.chatfooterright > img {
    grid-area: chatfooterright;
    height: 2vh;
    margin-left: 20px;
    margin-top: 3vh;
    opacity:70%;

}
.chatfooterright > a > img {
    grid-area: chatfooterright;
    height: 2vh;
    margin-left: 20px;
    margin-top: 3vh;
    opacity:70%;
}
/*  */



/* Sub Footer */
.subfooter{
   grid-area: subfooter;
   display: flex;
   background: rgb(240, 240, 240);
   border-right: 1px solid rgba(218, 218, 218, 0.767);
   border-bottom: 1px solid rgba(218, 218, 218, 0.767);

}
.subfooter > input {
    grid-area: subfooter;
    padding: 10px 68px 12px 35px;
    margin: 10px;
    display: block;
    text-align: left;
    background-color: #ffffff;
    border: 0;
    border-radius: 20px;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 13px;


    background-image: url(imgs2/search-interface-symbol.png);
    background-size: 15px;
    background-repeat: no-repeat;
    background-position-x: 5%;
    background-position-y: center;

}
/*  */


/* Chat */
.chat{
    grid-area: chat;
    display: flex;
    flex-direction: column;
    background-image: url(imgs3/wb2.png);
    opacity:70%;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 900;


}

.leftchat{
    grid-area: leftchat;
    display: grid;
    position: relative;
    text-align: left;
    grid-auto-rows: minmax(auto,auto);
    grid-auto-columns: minmax(auto,250px);

    margin: 20px;
    margin-top: 30px;
    width: 30vh;
    padding: 1vh 0px 1vh 20px;

    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    border-radius: 8px;
}
.leftchat > p{
    grid-area: leftchat;
    color: rgb(255, 255, 255);
    position: absolute;
    bottom: -5px;
    right: 9px;
    flex-direction: row;
    font-size: 10px;
    filter: invert(1);
}
.rightchat{
    grid-area: rightchat;
    display: grid;
    position: relative;
    grid-auto-rows: minmax(auto,auto);
    grid-auto-columns: minmax(auto,250px);
    direction: rtl;
    text-align: left;
    justify-items:start ;
    right: 20px;
    filter: invert(1);




    margin: auto;
    margin-left: 50%;
    margin-top: 10px;


    padding: 1vh 20px 1vh 50px;

    background: #06332e;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: rgb(255, 255, 255);
    border-radius: 8px;
}
.rightchat > p{
    grid-area: leftchat;
    color: rgb(255, 255, 255);
    position: absolute;
    bottom: -5px;
    right:20px;
    font-size: 10px;
}


/* Typehere */
.typehere{
    grid-area: typehere;
    display: grid;
    background: rgb(240, 240, 240);

    grid-template-columns: 100px auto 40px;
    grid-template-areas:
    "typehereleft typehere typehereright "


}
.typehereleft{
    grid-area: typehereleft;
    background: rgb(240, 240, 240);
    display: flex;
}
.typehereleft > img {
    grid-area: chatfooterright;
    height: 2.3vh;
    margin-left: 20px;
    margin-top: 19px;
    opacity:70%;


}
.typehere > input {
    display: flex;
    grid-area: typehere;
    margin: 10px;
    padding-left: 20px;
    text-align: left;
    background-color: #ffffff;
    border: 0;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 13px;


}
.typehereright{
    display: flex;
    background: rgb(240, 240, 240);
}
.typehereright > img {
    grid-area: chatfooterleft;
    height: 2.5vh;
    margin-left: 4px;
    margin-top: 19px;
    opacity:70%;


}
/*  */


/* אנשי קשר */
.contact{
    grid-area: contact;
    display: grid;
    overflow-y: scroll;
    overflow-x: hidden;
    border-right: 1px solid rgba(218, 218, 218, 0.767);


    grid-template-columns: 300px;
    grid-template-rows: 8vh 8vh 8vh 8vh 8vh 8vh 8vh 8vh 8vh 8vh 8vh 8vh 8vh 8vh 8vh 8vh;
    grid-template-areas:
    "contacta"
    "contactb"
    "contactc"
    "contactd"
    "contacte"
    "contactf"
    "contactg"
    "contacth"
    "contacti"
    "contactj"
    "contactk"
    "contactl"
    "contactm"
    "contactn"
    "contaco"
    "contactp"

    ;
}
::-webkit-scrollbar {
    background: rgba(255, 255, 255, 0);
    width: 6px;
}
::-webkit-scrollbar-thumb {
    background: rgb(199, 199, 199);
}

.container > .maincontainer > .contact > .textchat > h3 {
    margin-top: 15px;
    margin-left: 75px;
    font-family: 'Roboto', sans-serif;
    color: rgba(34, 34, 34, 0.815);

    font-weight: 400;
    font-size: 15px;
}
.container > .maincontainer > .contact > .textchat > h4 {
    margin-top: -8px;
    margin-left: 76px;
    color: rgba(71, 71, 71, 0.753);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 13px;
}
.container > .maincontainer > .contact > .textchat > h5 {
    margin-top: -6vh;
    margin-right: 16px;
    text-align: right;
    color: rgba(71, 71, 71, 0.753);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 11px;
}
.container > .maincontainer > .contact > .textchat > img {
    display: flex;
    margin-top: -37px;
    margin-left: 15px;
    width: 5.5vh;
    height: 5.5vh;
    border-radius: 50px;
    filter: invert(1);

}
.textchat{
    border-bottom: 1px solid rgb(238, 238, 238);
}
.textchat:hover{
    background: #e2e2e2a4;
    border-bottom: 1px solid rgba(243, 243, 243, 0.514);
}

.contacta{
    grid-area: contacta;
    background: #e2e2e2a4;
}
.contactb{
    grid-area: contactb;
    background: #ffffff;
}
.contactc{
    grid-area: contactc;
    background: #ffffff;
}
.contactd{
    grid-area: contactd;
    background: #ffffff;
}
.contacte{
    grid-area: contacte;
    background: #ffffff;
}
.contactf{
    grid-area: contactf;
    background: #ffffff;
}
.contactg{
    grid-area: contactg;
    background: #ffffff;
}
.contacth{
    grid-area: contacth;
    background: #ffffff;
}
.contacti{
    grid-area: contacti;
    background: #ffffff;
}
.contactj{
    grid-area: contactj;
    background: #ffffff;
}
.contactk{
    grid-area: contactk;
    background: #ffffff;
}

/*  */
